@import "colors"

.search-bar
   position: relative
   display: flex
   flex-direction: row
   height: 24px
   -webkit-transition: width 500ms
   transition: width 500ms
   align-items: center

   .search-bar__icon
      width: 24px
      height: 24px
      background-image: url(/images/icon-search@2x.png)
      background-size: contain
      flex-shrink: 0

   .search-bar__input
      height: 100%
      min-width: 0
      margin-left: 16px
      border: 0
      outline: 0
      border-bottom: 1px solid lightest-gray
      font-family: 'Open Sans', sans-serif
      font-weight: 300
      font-size: 16px
      color: near-black

      