//= require normalize
//= require components

@import "colors"

/**
 * Index.html
 */
.top-highlight
   height: 10px
   background: dark-blue

.header
   position: relative

   .search-bar
      position: absolute
      top: 16px
      right: 16px

.title
   position: relative
   padding: 36px 0
   margin: 0
   font-size: 36px
   font-family: 'Open Sans', sans-serif
   text-align: center
   text-transform: lowercase
   color: near-black

   .title__filter
   .title__sep
      font-weight: 300

   .title__sep
      margin: 0 12px

   .title__text
      font-weight: 700


/**
 * Main page.
 */ 
.container
   display: flex
   flex-direction: row
   padding 0 24px
   
.sidebar
   height: 100px
   width: 120px
   margin-right: 24px
   flex-shrink: 0
   font-family: 'Open Sans', sans-serif
   
.categories__heading
   padding: 0
   margin: 0
   font-size: 18px
   font-weight: 300
   text-align: right
   text-transform: uppercase
   color: near-black

.categories__list
   display: flex
   flex-direction: column
   align-items: flex-end
   border-right: 1px solid lightest-gray
   padding: 0 12px 0 0
   
   li
      list-style: none
      text-align: right
      padding: 0
      color: bright-blue
      font-style: italic
      cursor: pointer

.recipe-columns
   display: flex
   flex-grow: 1;
   flex-direction: row
   padding-top: 16px
   border-top: 1px solid lightest-gray

.recipe-column
   display: flex
   flex-direction: column
   flex: 1 1 auto

.columns-three .recipe-column
   width: 33%

.recipe-snippet
   box-sizing: border-box
   font-family: 'Open Sans', sans-serif
   padding: 12px
   width: 100%
   
   &:hover
      background: near-white

.recipe-snippet__photo
   width: 100%
   margin-bottom: 12px

.recipe-snippet__name
   font-weight: 700
   font-size: 16px
   color: #333

.recipe-snippet__tags
   font-weight: 300
   font-size: 14px
   
.recipe-snippet__tags-link
   font-style: italic
   color: bright-blue
   cursor: pointer
   
.recipe-snippet__tags-none
   color: medium-gray

.recipe-snippet__time
   font-weight: 300
   font-size: 14px
   
