//= require normalize

.background-left-side
.background-right-side
   position: absolute
   top: 0
   bottom: 0
   width: 50%

.background-left-side
   background: #fff
   left: 0
   
.background-right-side
   background: #8b3333
   right: 0
   
.title
   position: absolute
   top: 150px
   left: 30px
   right: 0
   font-family: 'Dosis', sans-serif
   font-weight: 700
   font-size: 80px
   text-align: center

   .name
      color: #b62335
      
   .domain
      color: #fff

.subtitle
   position: absolute
   top: 266
   left: 50%
   width: 240px
   margin-left: -250px
   text-align: right
   font-family: 'Dosis', sans-serif
   font-size: 26px
   font-weight 200
   color: #444

.red-ornament
.green-ornament
.white-ornament
   position: absolute
   top: 0
   left: 50%
   -webkit-background-size: contain
   -moz-background-size: contain
   -o-background-size: contain
   background-size: contain
   
.red-ornament
   width: 160px
   height: 320px
   background-image: url(/images/red-ornimant@2x.png)
   margin-left: -442px

.green-ornament
   width: 160px
   height: 610px
   background-image: url(/images/green-ornimant@2x.png)
   margin-left: -34px

.white-ornament
   width: 160px
   height: 402px
   background-image: url(/images/white-ornimant@2x.png)
   margin-left: 244px
