extends layout.pug

block head
   != js("index-bootstrap")

block content
   .header
      h1.title
         span.title__filter(data-bind="text: currentFilterText")
         span.title__sep -
         span.title__text Recipes
      search-bar(params="callback: onSearch")   

   .container
      .sidebar
         h2.categories__heading Categories
         ul.categories__list(data-bind="foreach: permanentCategories")
            li 
               a(data-bind="text: $data, click: $parent.onTagClicked")

      .recipe-columns(data-bind="foreach: snippetColumns, css: columnClass, \
            scrolledToBottom: onScrolledToBottom")
         .recipe-column(data-bind="foreach: $data")
            .recipe-snippet(data-bind="attr: {href: local_url}")
               img.recipe-snippet__photo(data-bind="visible: $data.local_photo_url, \
                     attr:{src: $data.local_photo_url}")
               .recipe-snippet__name(data-bind="text: name")
               .recipe-snippet__tags
                  span.recipe-snippet__tags-title Tags:&nbsp;
                  span(data-bind="foreach: $data.categories")
                     a.recipe-snippet__tags-link(data-bind="text: $data, click: $root.onTagClicked")
                     span(data-bind="visible: $index() != ($parent.categories.length-1)") ,&nbsp;
                  span.recipe-snippet__tags-none(data-bind="visible: !$data.categories.length") None
               .recipe-snippet__time(data-bind="visible: $data.prep_time")
                  span.recipe-snippet__time__title Prep Time:&nbsp; 
                  span.recipe-snippet__time__value(data-bind="text: $data.prep_time")
               
               .recipe-snippet__time(data-bind="visible: $data.cook_time")
                  span.recipe-snippet__time__title Cook Time:&nbsp;
                  span.recipe-snippet__time__value(data-bind="text: $data.cook_time")
               
               .recipe-snippet__time(data-bind="visible: $data.total_time")
                  span.recipe-snippet__time__title Total Time:&nbsp;
                  span.recipe-snippet__time__value(data-bind="text: $data.total_time")



   .footer
