extends layout.pug

block head
   != js("index-bootstrap")

block content
   .top-highlight

   .header
      search-bar(params="callback: onSearch")   

   .container
      .sidebar
      .content

   .footer
