extends layout.pug

block content
   .background-left-side
   .background-right-side
   
   .red-ornament
   .green-ornament
   .white-ornament
      
   .title
      span.name marcy
      span.domain .recipes

   .subtitle your own recipe site, <br> coming soon!
