extends layout.pug

block head
   != js("recipe-bootstrap")

block content
   search-bar(params="callback: onSearch")

   article
      h1= title

      img(src=photo_local_url)

      h2 Ingredients 
      ul
         each ingredient in ingredients.split('\n')
            li= ingredient

      h3 Directions
      each paragraph in directions.split('\n')
         p= paragraph
      